.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding-top: 30%;
  padding-bottom: 30%;
  font-weight: bold;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: rgb(167, 204, 229);
}

.tile.empty {
  background-color: #ccc;
  border: none;
}
