.game_board_container {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.game_board {
  display: grid;
  width: 80vw;
  height: auto;
  padding: 1rem;
  gap: 0.5rem;
  background-color: #ccc;
  border-radius: 0.5rem;
}

.randomize_btn_container {
  width: 100vw;
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
}

.randomize_btn_container button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 0.5rem;
}
